.ball{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-weight: 500;
  }
  
    .ball_wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  